@font-face {
    font-family: 'SeoulHangangM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html, body {
    background-color: #1e2022;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    overflow-x: hidden; /* 가로 스크롤 숨기기 */
    box-sizing: border-box; /* 이 부분 추가 */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #f2b600;
    padding: 20px 40px;
    box-sizing: border-box; /* 추가된 부분 */
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}

h1 {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin: 0;
    width: 80%;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    margin-left: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-menu li a:hover {
    background-color: #f2b600;
    color: #343a40;
}

/* Dropdown Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px; /* 드롭다운 버튼의 패딩 추가 */
    transition: color 0.3s, background-color 0.3s; /* 호버 효과에 필요한 트랜지션 추가 */
}

/* Dropdown Content */
.dropdown-content {
    visibility: hidden; /* 숨기기 */
    opacity: 0; /* 투명도 */
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
    transition: visibility 0.3s, opacity 0.3s, max-height 0.3s ease-out, padding 0.3s ease-out; /* 패딩 전환 추가 */
    z-index: 1;
}


/* Dropdown Content Links */
.dropdown-content a {
    color: #343a40;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: 240px;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover Effects */
.dropdown-content a:hover {
    background-color: #343a40;
    color: #f2b600;
}

.dropdown:hover .dropdown-content {
    visibility: visible; /* 보이기 */
    opacity: 1; /* 투명도 복원 */
    max-height: 300px; /* Adjust this value as needed */
    margin-top: 16px;
}

.dropdown:hover .dropbtn {
    color: black;
    background-color: #fff;
}


/* Mobile Styles */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    height: 2px;
    width: 32px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.mobile-dropdown-content {
    display: none;
    position: fixed;
    top: 0;
    right: -70%; /* 오른쪽 밖으로 숨기기 */
    width: 70%; /* 화면의 70% 차지 */
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
    overflow-y: auto; /* 스크롤 가능하도록 */
    padding-top: 60px; /* 상단 여백 추가 */
    box-shadow: -4px 0 8px rgba(0,0,0,0.1); /* 약간의 그림자 효과 추가 */
    transition: right 0.4s ease-in-out; /* 부드러운 애니메이션 추가 */
}

.mobile-dropdown-content.show {
    right: 0; /* 화면 안으로 슬라이드 */
}

.mobile-dropdown-content a {
    font-weight: 800;
    color: #343a40;
    padding: 20px 16px;
    text-decoration: none;
    display: flex; /* 플렉스 박스 사용 */
    align-items: center; /* 아이템을 중앙 정렬 */
    transition: background-color 0.3s, color 0.3s;
    border-bottom: 1px solid #f0f0f0; /* 각 항목 아래에 경계선 추가 */
}

.mobile-dropdown-content a:hover {
    background-color: #f2b600;
    color: #ffffff;
}

.mobile-dropdown-content a .icon {
    margin-right: 16px; /* 아이콘과 텍스트 사이 간격 */
    font-size: 20px; /* 아이콘 크기 조정 */
}

.close-button {
    color: #343a40;
    font-size: 36px;
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.dropdown-content .disable {
    font-weight: 400;
    color: rgb(198, 198, 198);
}

.dropdown-content .disable:hover {
    font-weight: 400;
    color: rgb(198, 198, 198);
}

.mobile-dropdown-content .disable {
    font-weight: 400;
    text-align: left;
    color: rgb(198, 198, 198);
    padding: 20px 16px;
    margin: 0;
}


main {
    background-color: #2b2e32;
    padding: 32px;
    margin: 12px 0 48px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* 추가된 부분 */
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 800;
}

/* Flexbox 컨테이너 */
.select-container {
    display: flex;
    flex-wrap: wrap; /* 줄 바꿈을 허용 */
    gap: 20px; /* 아이템 간의 간격 */
    justify-content: space-between; /* 아이템을 균등하게 분배 */
}

/* 각 Select Box의 스타일 */
.select-box {
    flex: 1 1 calc(33.33% - 20px); /* 3개의 아이템을 한 줄에 배치하고 간격 고려 */
    display: flex;
    flex-direction: column; /* 레이블과 선택 상자를 세로로 정렬 */
}

.select-box label {
    margin-bottom: 8px; /* 레이블과 선택 상자 간격 */
    font-weight: 500; /* 레이블 텍스트 굵게 */
    color: #bbc4d6;
}

.select-box select {
    padding: 10px;
    border: 1px solid #6a717e;
    border-radius: 8px;
    font-size: 16px;
    color: #bbc4d6;
    background-color: #222529;
}

select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
}

select {
    font-weight: 400;
    appearance: none; /* 기본 브라우저 스타일 제거 */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23f2b600%22%20d%3D%22M5%207L0%202h10L5%207z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px; /* 화살표 공간을 위한 패딩 */
}

textarea {
    border: 1px solid #6a717e;
    border-radius: 8px;
    font-size: 16px;
    color: #bbc4d6;
    background-color: #222529;
    height: 100px;
    resize: none; /* 크기 조절 불가 */
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#submit-button {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    background-color: #f2b600;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    min-height: 48px;
    min-width: 240px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

#submit-button:hover {
    background-color: #bc8d00;
}

#submit-button:disabled .button-text {
    display: none;
}

#submit-button:disabled .spinner {
    display: block;
}

.spinner {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-left-color: #ece1fc;
    animation: spin 1s linear infinite;
    display: none; /* 기본적으로 숨김 */
}

.support-button {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-button {
    background-color: transparent;
    color: #f2b603;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 20px;
    text-decoration: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.supportText {
    font-size: 12px;
    text-align: center;
    line-height: 1.6;
    color: #bbc4d6;
}

.response-section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quote-container {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: black;
}

.quote-image {
    width: 50%;
}

.quote-text {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    -webkit-text-stroke: 0.3px black;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
    font-size: 24px;
    font-family: 'SeoulHangangM', sans-serif; /* 서체 지정 */
    width: 65%;
    line-height: 1.2;
}

.x-button {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    min-width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}

.x-button:hover {
    background-color: #555;
}

.x-logo {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 24px;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 0;
}

/* 추가된 미디어 쿼리 */
@media (max-width: 768px) {
    .quote-text {
        font-size: 1rem;
    }

    .button-group {
        flex-direction: column;
    }

    #submit-button {
        margin-right: 0px;
        margin-bottom: 12px;
    }

    .nav-menu {
        display: none;
    }
    
    .hamburger-menu {
        display: flex;
    }

    .mobile-dropdown-content.show {
        display: block;
    }

    .mobile-dropdown-content {
        right: -40%; /* 오른쪽 밖으로 숨기기 */
        width: 40%; /* 화면의 70% 차지 */

    }

    .select-box {
        flex: 1 1 100%; /* 화면 크기가 작을 때 아이템을 세로로 배치 */
        gap: 0px;
    }

    .select-container {
        gap: 0px;
    }
    
}

@media (max-width: 480px) {
    .quote-text {
        font-size: 0.8rem;
    }

    .instruction-text {
        font-size: 16px;
        margin-bottom: 20px;
    }

    header {
        padding: 20px 20px;
    }

    .mobile-dropdown-content {
        right: -80%; /* 오른쪽 밖으로 숨기기 */
        width: 80%; /* 화면의 70% 차지 */

    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    text-align: left;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 경고 문구 스타일 추가 */
#errorModal .modal-content {
    border-color: #f44336;
    color: #f44336;
}

#errorModal .close-button {
    color: #f44336;
}

#errorModal .close-button:hover,
#errorModal .close-button:focus {
    color: #d32f2f;
}