@font-face {
    font-family: 'SeoulHangangM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e2022;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: transparent;
    color: #f2b600;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}

main {
    background-color: #ffffff;
    padding: 32px;
    margin: 12px 0 48px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* 추가된 부분 */
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

select {
    font-weight: 600;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%204%205%22%3E%3Cpath%20fill%3D%22%236200ea%22%20d%3D%22M2%200L0%202h4L2%200zM0%203h4L2%205%200%203z%22/%3E%3C/svg%3E'); /* 화살표 아이콘 추가 */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

textarea {
    font-size: 16px;
    height: 100px;
    resize: none; /* 크기 조절 불가 */
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#submit-button {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    background-color: #f2b600;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    min-height: 48px;
    min-width: 240px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

#submit-button:hover {
    background-color: #bc8d00;
}

#submit-button:disabled .button-text {
    display: none;
}

#submit-button:disabled .spinner {
    display: block;
}

.spinner {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-left-color: #ece1fc;
    animation: spin 1s linear infinite;
    display: none; /* 기본적으로 숨김 */
}

.outline-button {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    min-height: 48px;
    min-width: 240px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-button {
    background-color: transparent;
    color: #6200ea;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.supportText {
    font-size: 12px;
    text-align: center;
    line-height: 1.6;
}

.response-section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quote-container {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: black;
}

.quote-image {
    width: 50%;
}

.quote-text {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    -webkit-text-stroke: 0.3px black;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
    font-size: 24px;
    font-family: 'SeoulHangangM', sans-serif; /* 서체 지정 */
    width: 65%;
    line-height: 1.2;
}

.x-button {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    min-width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}

.x-button:hover {
    background-color: #555;
}

.x-logo {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#ad-container {
    margin-bottom: 20px;
}

#ad-small-screen {
    display: none;
}

#ad-large-screen {
    display: none;
}


footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 0;
}

/* 추가된 미디어 쿼리 */
@media (max-width: 768px) {
    .quote-text {
        font-size: 1.2rem;
    }

    .button-group {
        flex-direction: column;
    }

    #submit-button {
        margin-right: 0px;
        margin-bottom: 12px;
    }

    #ad-small-screen {
        display: block;
    }
}

@media (max-width: 480px) {
    .quote-text {
        font-size: 0.8rem;
    }

    .instruction-text {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) {
    #ad-large-screen {
        display: block;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    text-align: left;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 경고 문구 스타일 추가 */
#errorModal .modal-content {
    border-color: #f44336;
    color: #f44336;
}

#errorModal .close-button {
    color: #f44336;
}

#errorModal .close-button:hover,
#errorModal .close-button:focus {
    color: #d32f2f;
}