<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V3DJ61DL6"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3V3DJ61DL6');
    </script>

    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>

    <script defer src="/_vercel/insights/script.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Create your own movie scenes and dialogues with the Movie Scene Generator. Select a genre, style, and decade, and let the AI generate unique scenes and quotes for you.">
    <title>Movie Scene Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"> <!-- Favicon 추가 -->

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Movie Scene Generator">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://movie-scene-generator.vercel.app/">
    <meta property="og:image" content="{{ url_for('static', filename='images/og-image.png') }}">
    <meta property="og:description" content="Create your own movie scenes and dialogues with the Movie Scene Generator. Select a genre, style, and decade, and let the AI generate unique scenes and quotes for you.">
    <meta property="og:site_name" content="Movie Scene Generator">
    <meta property="og:locale" content="en_US">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Movie Scene Generator">
    <meta name="twitter:description" content="Create your own movie scenes and dialogues with the Movie Scene Generator. Select a genre, style, and decade, and let the AI generate unique scenes and quotes for you.">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/og-image.png') }}">
    
</head>
<body>
    <header>
        <h1>🎞️ Movie Scene Generator</h1>
        <nav>
            <ul class="nav-menu">
                <li class="dropdown">
                    <a href="#" class="dropbtn">Projects</a>
                    <div class="dropdown-content">
                        <a href="#" onclick="window.open('https://emotional-gpt.vercel.app/', '_blank')">🧠 Insideout Mindset</a>
                        <a href="#" onclick="window.open('https://meow-talk.vercel.app/', '_blank')">🐱 MeowTalk</a>
                        <a href="#" onclick="window.open('https://gen-z-vibe.vercel.app/', '_blank')">💀 Gen Z Vibe</a>
                        <a href="#" onclick="window.open('https://luv-moon-cheol.vercel.app/', '_blank')">❤️‍🩹 Luv Moon Chul</a>
                        <p class="disable">Coming soon</p>
                    </div>
                </li>
            </ul>
            <div class="hamburger-menu" id="hamburgerMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="mobile-dropdown-content" id="mobileDropdownContent">
                <span class="close-button" id="mobileDropdownClose">&times;</span>
                <a href="#" onclick="window.open('https://emotional-gpt.vercel.app/', '_blank')">
                    🧠 Insideout Mindset
                </a>
                <a href="#" onclick="window.open('https://meow-talk.vercel.app/', '_blank')">
                    🐱 MeowTalk
                </a>
                <a href="#" onclick="window.open('https://gen-z-vibe.vercel.app/', '_blank')">💀 Gen Z Vibe</a>
                <a href="#" onclick="window.open('https://luv-moon-cheol.vercel.app/', '_blank')">❤️‍🩹 Luv Moon Chul</a>
                <p class="disable">
                    Coming soon
                </p>
            </div>
        </nav>
    </header>
    <main>
        <form method="POST" id="genre-form">
            <div class="select-container">
                <div class="select-box">
                    <label for="genre">🎭 Choose a genre:</label>
                    <select name="genre" id="genre">
                        {% for key, value in movie_genre.items() %}
                            <option value="{{ key }}" {% if key == selected_genre %}selected{% endif %}>{{ key }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="select-box">
                    <label for="style">🎨 Choose a style:</label>
                    <select name="style" id="style">
                        <option value="Movies" {% if selected_style == "Movies" %}selected{% endif %}>Movies</option>
                        <option value="Film Noir" {% if selected_style == "Film Noir" %}selected{% endif %}>Film Noir</option>
                        <option value="Manga" {% if selected_style == "Manga" %}selected{% endif %}>Manga</option>
                        <option value="Anime" {% if selected_style == "Anime" %}selected{% endif %}>Anime</option>
                        <option value="Western Comic Book Style" {% if selected_style == "Western Comic Book Style" %}selected{% endif %}>Western Comic Book Style</option>
                        <option value="clay art" {% if selected_style == "clay art" %}selected{% endif %}>clay art</option>
                    </select>
                </div>
                <div class="select-box">
                    <label for="period">🕰️ Choose a period:</label>
                    <select name="period" id="period">
                        <option value="1980s" {% if selected_period == "1980s" %}selected{% endif %}>1980s</option>
                        <option value="1990s" {% if selected_period == "1990s" %}selected{% endif %}>1990s</option>
                        <option value="2000s" {% if selected_period == "2000s" %}selected{% endif %}>2000s</option>
                        <option value="2010s" {% if selected_period == "2010s" %}selected{% endif %}>2010s</option>
                        <option value="2020s" {% if selected_period == "2020s" %}selected{% endif %}>2020s</option>
                    </select>
                </div>
            </div>
            <textarea name="user_input" placeholder="Enter situation">{{ user_input }}</textarea>
            <div class="button-group">
                <button type="submit" id="submit-button">
                    <span class="button-text">Generate Quote 🍿</span>
                    <div class="spinner" id="button-spinner" style="display: none;"></div>
                </button>
                <a href="https://www.buymeacoffee.com/his0203" class="support-button"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a beer&emoji=🍺&slug=his0203&button_colour=5F7FFF&font_colour=ffffff&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00" /></a>
            </div>
            <p class="supportText">Since the AI execution costs are covered by the creator, clicking the generate button will open an advertisement.<br>Thank you for your support! ✨</p>
        </form>
        <button type="button" class="info-button" onclick="openModal()">Result Disclaimer</button>
        {% if response and not show_error_modal %}
            <section class="response-section">
                <div id="quote-container" class="quote-container">
                    <img src="{{ response_image }}" alt="Generated Image" class="quote-image">
                    <div class="quote-text">{{ response }}</div>
                </div>
            </section>
            <button id="share-twitter" class="x-button" data-response-text="{{ response }}">
                <img src="/static/images/x-logo.png" alt="X Logo" class="x-logo">
                Share on X
            </button>
        {% endif %}
    </main>


    <footer>
        <p>&copy; 2024 ODD. All rights reserved.</p>
    </footer>

    <div id="disclaimerModal" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h2>Result Disclaimer</h2>
            <li><strong>Fictional Content</strong>: All content generated by this website is fictional and created by AI models.</li>
            <li><strong>Purpose</strong>: It is for educational or entertainment purposes only and is not related to any real movie or work.</li>
            <li><strong>Accuracy</strong>: The generated content may not be accurate or logical. Users should use it for reference purposes only.</li>
            <li><strong>Usage Restrictions</strong>: The generated images and quotes are for personal use only and may not be used for commercial purposes or redistributed.</li>
            <li><strong>User Responsibility</strong>: Users are responsible for their inputs and should avoid entering violent, hateful, or offensive content.</li>
            <li><strong>Privacy</strong>: This website does not store any personal information. Avoid entering personal or sensitive information.</li>
            <p>
                For inquiries, contact heesoo0203@gmail.com.
            </p>
        </div>
    </div>

    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeErrorModal()">&times;</span>
            <h2>Error</h2>
            <p>
                Your input may contain inappropriate content.<br>Please try again with a different input.
            </p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const hamburgerMenu = document.getElementById('hamburgerMenu');
            const mobileDropdownContent = document.getElementById('mobileDropdownContent');
            const mobileDropdownClose = document.getElementById('mobileDropdownClose');
        
            hamburgerMenu.addEventListener('click', () => {
                mobileDropdownContent.classList.add('show');
            });

            mobileDropdownClose.addEventListener('click', () => {
                mobileDropdownContent.classList.remove('show');
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            const genreForm = document.getElementById('genre-form');
            const submitButton = document.getElementById('submit-button');
            const buttonText = document.querySelector('.button-text');
            const buttonSpinner = document.getElementById('button-spinner');

            genreForm.addEventListener('submit', event => {
                submitButton.disabled = true;
                buttonText.style.display = 'none';
                buttonSpinner.style.display = 'block';
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            const shareTwitterButton = document.getElementById('share-twitter');
        
            if (shareTwitterButton) {
                shareTwitterButton.addEventListener('click', () => {
                    const url = encodeURIComponent(window.location.href);
                    const responseText = shareTwitterButton.getAttribute('data-response-text');
        
                    // Check user's language
                    const userLang = navigator.language || navigator.userLanguage;
                    let text;
        
                    if (userLang === 'ko' || userLang === 'ko-KR') {
                        text = `${responseText}\n\n당신만의 영화의 한장면과 대사를 만들어보세요.🎬\n#MovieQuoteGenerator #명대사제조기`;
                    } else {
                        text = `${responseText}\n\nCreate your own movie scenes and dialog.🎬\n#MovieQuoteGenerator`
                    }
        
                    const twitterUrl = `https://twitter.com/intent/tweet?text=${encodeURIComponent(text)}&url=${url}`;
                    window.open(twitterUrl, '_blank');
                });
            }
        });

        function openModal() {
            document.getElementById('disclaimerModal').style.display = "block";
        }

        function closeModal() {
            document.getElementById('disclaimerModal').style.display = "none";
        }

        function closeErrorModal() {
            document.getElementById('errorModal').style.display = "none";
        }

        window.onload = function() {
            {% if show_error_modal %}
                document.getElementById('errorModal').style.display = "block";
            {% endif %}
        };

        window.onclick = function(event) {
            const disclaimerModal = document.getElementById('disclaimerModal');
            const errorModal = document.getElementById('errorModal');
            if (event.target == disclaimerModal) {
                disclaimerModal.style.display = "none";
            } else if (event.target == errorModal) {
                errorModal.style.display = "none";
            }
        };
    </script>
</body>
</html>
